*$py.class
*,cover
*.egg
*.egg-info
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.pyc
*.so
*.spec
*.swp
.Python
.cache
.coverage
.coverage.*
.env
.tox/
.webassets-cache
/.cache
/.coverage
/.idea
/.python*-*
/build
/coverage.xml
/dist
/doc/_build
/htmlcov
/pylint.html
/sdist
__pycache__
